body {
  background-color: rgb(93, 190, 197);
}

h1 {
  color: white;
}

.greeting,
.form {
  display: none;
}

.showing {
  display: block;
}

.hide {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1.5s linear;
}

.js-clock h1 {
  display: flex;
  justify-content: center;
  font-size: 90px;
  position: relative;
  top: 250px;
}

.js-form {
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: relative;
  top: 230px;
  color: white;
}

.js-form > .showing {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.9);
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.js-greeting {
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: relative;
  top: 200px;
  color: white;
}

.js-toDoForm {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  color: white;
}

.js-toDoForm input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.9);
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.js-toDoList {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  color: white;
  font-size: 40px;
  flex-direction: column;
  align-items: center;
}

.js-toDoList li {
  margin-bottom: 14px;
}

.js-toDoList button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: relative;
  top: -8px;
  right: 5px;
}

.js-weather {
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 0;
}
